In [6]:
# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy
import scipy.stats as stats

import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV
%matplotlib inline

In [32]:
# Pull in city-county mapping

city_county_map = pd.read_csv('data/uscitiesv1.5.csv', encoding = "ISO-8859-1")

# Drop unneeded labels
city_county_map = city_county_map.drop(labels = ['lat', 'lng', 'population', 'population_proper', 
                                                 'source', 'incorporated', 'timezone', 'zips'], 
                                       axis = 1)

In [37]:
# strip whitespace from city name and make the name lowercase
city_county_map.city = city_county_map.city.str.strip()
city_county_map.city = city_county_map.city.str.lower()

# Do the same with state except uppercase
city_county_map.state_id= city_county_map.state_id.str.strip()
city_county_map.state_id = city_county_map.state_id.str.upper()

In [38]:
city_county_map.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,density,id
0,prairie ridge,Prairie Ridge,WA,Washington,53053,Pierce,1349.8,1840037882
1,edison,Edison,WA,Washington,53057,Skagit,127.4,1840017314
2,packwood,Packwood,WA,Washington,53041,Lewis,213.9,1840025265
3,wautauga beach,Wautauga Beach,WA,Washington,53035,Kitsap,261.7,1840037725
4,harper,Harper,WA,Washington,53035,Kitsap,342.1,1840037659

In [40]:
# Create new column with combined city&state info to join on
city_county_map['city_and_state'] = city_county_map.city.astype('str') + ', ' + city_county_map.state_id.astype('str')

In [41]:
city_county_map.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,density,id,city_and_state
0,prairie ridge,Prairie Ridge,WA,Washington,53053,Pierce,1349.8,1840037882,"prairie ridge, WA"
1,edison,Edison,WA,Washington,53057,Skagit,127.4,1840017314,"edison, WA"
2,packwood,Packwood,WA,Washington,53041,Lewis,213.9,1840025265,"packwood, WA"
3,wautauga beach,Wautauga Beach,WA,Washington,53035,Kitsap,261.7,1840037725,"wautauga beach, WA"
4,harper,Harper,WA,Washington,53035,Kitsap,342.1,1840037659,"harper, WA"

In [43]:
city_county_map.to_pickle('data/clean_city_county.pkl')